h1 {
	text-align: center;
}

.difficulty-buttons {
	margin-bottom: 20px;
	text-align: center;
}

table {
	border: 1px solid #c6c6c6;
	margin: auto;
}

td {
	height: 45px;
	width: 45px;

	text-align: center;
	font-weight: 1000;
	font-size: 25px;

	background-color: #c6c6c6;

	border-color: #808080;

	cursor: default;
	user-select: none;
}

.hidden {
	font-size: 0;
	background-color: #808080;
}

.blown {
	background-color: brown;
}

.flex-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-header div {
	padding: 10px;
	margin: 5px;
	background-color: #808080;
}

.board-header button {
	height: 50px;
	width: 50px;
	margin: 5px;

	font-size: 25px;

	border: 2px solid #808080;
	background-color: #c6c6c6;
}

footer {
	position: absolute;
	bottom: 0;

	padding: 10px;
	height: 30px;

	text-align: right;
}

.number1 {
	color: blue;
}

.number2 {
	color: green;
}

.number3 {
	color: red;
}

.number4 {
	color: darkblue;
}

.number5 {
	color: brown;
}

.number6 {
	color: darkcyan;
}

.number7 {
	color: black;
}

.number8 {
	color: gray;
}
